tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
matplotlib==3.6.2
matplotlib-inline==0.1.6
numpy==1.23.4
scikit-learn==1.2.1
scikit-plot==0.3.7
scipy==1.10.0
seaborn==0.12.2
keras==2.13.1
uvicorn
fastapi
python-multipart
nvidia-tensorrt

